body {
    background-color: #C6DCE4;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    text-transform: uppercase;
    color:crimson;
    font-size: 2,5em;
}

h2, h3 {
    text-transform: capitalize;
    color:indianred;
}

p {
    color: brown;

}

ul, ol {
    color:chocolate
}

#first_article {

}

.center_article {
    text-align:center
    
}

#third_article {
    text-align: right;
    
}